.login__btns button {
  border: none;
  border-radius: 0.7rem;
}
.login__btns button:hover {
  background-color: lightcyan;
}
.absolute {
  position: absolute;
  top: 4rem;
  right: 1rem;
  z-index: 2;
}
.authon button {
  margin-left: 0.5rem;
}
.me-auto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.navbar__brand {
  overflow-wrap: break-word;
}
