label.selected-figure {
  outline: 2px solid green;
  border-radius: 2rem;
}
label {
  position: relative;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}
label>img {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0.3rem auto;
  top: 0.25rem;
  left: -0.1rem;
}
