[type=radio] { 
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio] + img {
    cursor: pointer;
}
label.selected {
    outline: 2px solid green;
    border-radius: 2rem;
}
.show__line {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
label {
    position: relative;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}
label>img {
    width: 5rem;
    height: 5rem;
    top: 0.25rem;
    left: -0.1rem;
    position: absolute;
}
label[id^="pawn"]>img {
    top: 0.6rem;
    left: 0.25rem;
}
label[id^="bishop"]>img {
    left: 0.2rem;
}
label[id^="king"]>img {
    left: -0.2rem;
}
label[id^="queen"]>img {
    left: -0.3rem;
}
label[id^="rook"]>img {
    top: 0.35rem;
    left: 0.2rem;
}
.show__line {
    margin: 0 auto;
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
